<ion-header>
  <ion-navbar>

    <ion-title>{{ pageTitle }}</ion-title>

    <ion-buttons right>
      <button ion-button clear color="primary" 
        [disabled]="!allowSave"
        (click)="save()">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
      <section *ngFor="let region of countrySrvc.countriesByRegion">
        <ion-item-divider>{{ region.name }}</ion-item-divider>
        <ion-item *ngFor="let country of region.countries">
           <ion-checkbox [(ngModel)]="selectedCountries[country.$key]" [ngModelOptions]="{standalone: true}"></ion-checkbox>
          <ion-label>{{ country.name.common }}</ion-label>
        </ion-item>
      </section>      
    </ion-list>
</ion-content>
