<ion-header>
  <ion-navbar>
    <ion-title>{{ user.displayName }}</ion-title>

    <ion-buttons right *ngIf="auth.uid != user.$key">
      <button ion-button clear color="primary" 
        [disabled]="!allowSave"
        (click)="toggleFollow()">
        {{ actionText }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class='headerArea'>
      <img *ngIf="user.photo" [src]="user.photo">

    <!-- <section class='worldProgress' *ngIf="userSrvc.selectedCountriesByRegion.length">
      <h1 class='top'>You've covered</h1>
      <h1 class='middle' *ngIf="userSrvc.numCountriesVisited">
        {{ ((userSrvc.numCountriesVisited / userSrvc.numCountriesTotal) * 100) | number:'1.0-0' }}%
      </h1>
      <h1 class='bottom'>of the world</h1>
      <button ion-button outline color="dark"
        (click)="selectCountries()" *ngIf="countrySrvc.countriesByRegion.length">
        Select countries
      </button>
      <button ion-button outline color="dark"
        (click)="selectCountries()">
        Share
      </button>
    </section> -->
  </div>

  <!-- If data is being loaded -->
  <div text-center *ngIf="isLoading" margin padding>
    <ion-spinner text-center style='width: 58px;'></ion-spinner>
  </div>

  <!-- If no countries selected -->
  <section text-center *ngIf="!isLoading && !selectedCountriesByRegion.length">
    <h3>No countries selected</h3>
  </section>

  <!-- Region/Country List -->
  <ion-list *ngIf="selectedCountriesByRegion.length" class='regions'>
    <section *ngFor="let region of selectedCountriesByRegion" [class]='region.name'>
      <ion-list-header>
        {{ region.name }} 
        <ion-badge item-right>{{ ((region.numCountriesSelected / region.totalCountriesInRegion) * 100) | number:'1.0-0'}}%</ion-badge>
      </ion-list-header>
      <button ion-item *ngFor="let country of region.countries"
        (click)="loadCountry(country)">
        {{ country.name.common }}
      </button>
    </section>
  </ion-list>
</ion-content>