<ion-header>
  <ion-navbar>
    <ion-title>{{ user.displayName }}</ion-title>

    <ion-buttons right>
      <button ion-button clear color="primary" 
        (click)="share()">
        Share
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class='headerArea'>
    <section class='worldProgress'>
      <h1 class='top'>Explored</h1>
      <h1 class='middle' *ngIf="user.totalCountriesVisited">
        {{ ((user.totalCountriesVisited / countrySrvc.worldCountryCount) * 100) | number:'1.0-0' }}%
      </h1>
      <h1 class='middle' *ngIf="!user.totalCountriesVisited">
        0%
      </h1>
      <h1 class='bottom'>of the world</h1>
      <ion-grid text-center>
        <ion-row>
          <ion-col>
            <b>Following</b><br/>
            {{ user.numFollowing? user.numFollowing : 0 }}
          </ion-col>
          <ion-col>
            <b>Followers</b><br/>
            {{ user.numFollowers? user.numFollowers : 0 }}
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <div *ngIf="(auth.uid != user.$key) && !isLoadingFollowStatus">
        <button ion-button color="primary" 
          (click)="follow()" *ngIf="!isFollowing">
          Follow
        </button>
        <button ion-button outline color="danger" 
          (click)="unfollow()" *ngIf="isFollowing">
          Unfollow
        </button>
      </div>
    </section>
  </div>

  <!-- If data is being loaded -->
  <div text-center *ngIf="isLoading" margin padding>
    <ion-spinner text-center style='width: 58px;'></ion-spinner>
  </div>

  <!-- If no countries selected -->
  <section text-center *ngIf="!isLoading && !selectedCountriesByRegion.length">
    <h3>No countries selected</h3>
  </section>

  <!-- Region/Country List -->
  <ion-list *ngIf="!isLoading && selectedCountriesByRegion.length" class='regions'>
    <section *ngFor="let region of selectedCountriesByRegion" [class]='region.name'>
      <ion-list-header>
        {{ region.name }} 
        <ion-badge item-right>{{ ((region.numCountriesSelected / region.totalCountriesInRegion) * 100) | number:'1.0-0'}}%</ion-badge>
      </ion-list-header>
      <button ion-item *ngFor="let country of region.countries"
        (click)="loadCountry(country)">
        {{ country.name.common }}
      </button>
    </section>
  </ion-list>
</ion-content>