<ion-header>
  <ion-navbar>
    <ion-title>TravelDiscuss</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="selectCountries()" *ngIf="countrySrvc.countriesByRegion.length">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar item-start *ngIf="auth.photo">
      <img [src]="auth.photo">
    </ion-avatar>
    <h2>{{ auth.displayName }}</h2>
    <p>World Progress: 5%</p>
    <button ion-button icon-only item-end clear color="dark" (click)="attemptLogout()">
      <ion-icon name="ios-log-out"></ion-icon>
    </button>
  </ion-item>
  <ion-list>
    <section *ngFor="let region of userSrvc.selectedCountriesByRegion">
      <ion-list-header>
        {{ region.name }} 
        <span item-right>{{ ((region.numCountriesSelected / region.totalCountriesInRegion) * 100) | number:'1.0-0'}}%</span>
      </ion-list-header>
      <ion-item *ngFor="let country of region.countries">
        {{ country.name.common }}
      </ion-item>
    </section>
  </ion-list>
</ion-content>