page-home {
    .worldProgress{
        text-align: center;
        padding: 5%;
        color: white;
        background: black url('../assets/world.jpg') no-repeat;
        background-size: cover;

        h1.top{
            font-weight:bold;
            font-size:1.2em
        }
        h1.middle{
            font-weight: bold;
            margin-top: -0.3em;
            font-size:2.5em;
        }
        h1.bottom{
            font-size:1em;
            margin-top: -0.8em;
        }
    }

    .regions{
        ion-list-header{
            color: white;
            background: black no-repeat;
            background-size: cover;
        }
        .Africa{
            background-image: url('../assets/world.jpg');
        }
        .Americas{
            background-image: url('../assets/world.jpg');
        }
        .Antartica{
            background-image: url('../assets/world.jpg');
        }
        .Asia{
            background-image: url('../assets/world.jpg');
        }
        .Europe{
            background-image: url('../assets/world.jpg');
        }
        .Oceania{
            background-image: url('../assets/world.jpg');
        }
    }
}
